aiohttp
uvloop
aiodns
cchardet
pyee
websockets
ujson
yarl
async-timeout
aiofiles
urllib3
attrs
git+ssh://git@github.com/webrecorder/chrome-remote-interface-py.git@no-gevent-simplechrome-cdp-unification
